body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif; 
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/back.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.container_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container > div {
    margin-top: 20px; 
  }
  

  .container_main h1 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 12px;
    font-size: 60px; 
    margin-bottom: 0; 
    color: white;
    text-align: center; 
}

.container_main h2 {
    font-family: 'Smooch Sans', sans-serif;
    letter-spacing: 2px; 
    font-size: 25px; 
    margin-top: 10px; 
    color: white;
    text-align: center; 
}

.container_main .button-wrapper {
    display: flex;
    justify-content: center;
}

button {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    background-color: rgba(137, 131, 131, 0.453);
    color: #333;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    padding: 10px 10px;
    margin-right: 100px;
    box-shadow: 0 0 10px #fff;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 150px;
    text-align: center;
    color: white;

}

button:hover {
    background: rgba(119, 118, 119, 0.5);
    color: #fff;
    box-shadow: 0 0 2em 0.5em #d1cfd4;
  }

  .btn-link {
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    background-color: rgba(137, 131, 131, 0.453);
    color: #333;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    padding: 10px 10px;
    margin-right: 100px;
    box-shadow: 0 0 10px #fff;
    margin-top: 100px;
    margin: 0 auto;
    margin-right: 20px; 
    margin-bottom: 10px;
    width: 150px;
    text-align: center;
    text-decoration: none; 
    color: white;
}


.btn-link:hover {
    background: rgba(119, 118, 119, 0.5);
    color: #fff;
    box-shadow: 0 0 2em 0.5em #d1cfd4;
}
  

.error-message {
    position: fixed;
    bottom: 20px;
    right: -300px;
    background-color: #978483;
    color: white;
    padding: 15px;
    z-index: 1000;
    transition: right 0.5s ease-in-out;
}

.error-message.show {
    right: 20px; 
}

.message {
    margin-bottom: 10px;
}


.column {
    float: left;
    width: 50%; 
    padding: 10px;
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
