{% extends 'graph/base.html' %}
{% load graph_tags %}

{% block content %}
<div class="container_label">
    <div class="site-title">SPECTR ANALYZER</div>
    <a href="{% url 'logout' %}" class="btn-link-logout">Выйти</a>
</div>

<script>
    function submitForm() {
        document.getElementById("uploadForm").submit();
    }
</script>

<form method="POST" enctype="multipart/form-data" id="uploadForm">
    {% csrf_token %}
    {{ form.file }}
    <label for="file" class="inputfile btn-link-logout">
        <span>Загрузить файл</span>
        <input type="file" name="file_spectrs" id="file" class="inputfile" onchange="submitForm()" />
    </label>
</form>

{% show_spectrs request%}



<div id="error-message" class="error-message">
    {% if messages %}
    {% for message in messages %}
    <div class="message">{{ message }}</div>
    {% endfor %}
    {% endif %}
</div>

<script>
    function showError() {
        const errorMessage = document.getElementById('error-message');
        if (errorMessage.innerHTML.trim() !== '') {
            errorMessage.classList.add('show'); 
            setTimeout(function () {
                errorMessage.classList.remove('show'); 
            }, 15000);
        }
    }

    window.onload = showError;
</script>

{% get_list_unused request.user.id as spectrs %}
<div class="container_list">
    <div class="column">
        <h3>ИК-спектры</h3>
        <ul>
            {% for p in spectrs %}
            {% if p.spectr.values.type_spectr == "IR" %}
            <li>
                <div class="spectr-item">
                    <div class="spectr-info">
                        <h2>{{ p.spectr.file_name }}</h2>
                    </div>
                    <div class="spectr-actions">
                        {% if p.is_publish %}
                        <button class="action-btn" data-info-id="{{ p.id }}" data-action="remove">Убрать</button>
                        {% else %}
                        <button class="action-btn" data-info-id="{{ p.id }}" data-action="use">Использовать</button>
                        {% endif %}
                    </div>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="column">
        <h3>ЯМР-спектры</h3>
        <ul>
            {% for p in spectrs %}
            {% if p.spectr.values.type_spectr == "NMR" %}
            <li>
                <div class="spectr-item">
                    <div class="spectr-info">
                        <h2>{{ p.spectr.file_name }}</h2>
                    </div>
                    <div class="spectr-actions">
                        {% if p.is_publish %}
                        <button class="action-btn" data-info-id="{{ p.id }}" data-action="remove">Убрать</button>
                        {% else %}
                        <button class="action-btn" data-info-id="{{ p.id }}" data-action="use">Использовать</button>
                        {% endif %}
                    </div>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.action-btn').click(function () {
            var infoId = $(this).data('info-id');
            var action = $(this).data('action');
            var csrfToken = $('input[name=csrfmiddlewaretoken]').val(); 


            var isPublish = (action === 'remove') ? false : true;

            var requestData = {
                csrfmiddlewaretoken: csrfToken,
                infoId: infoId,
                isPublish: isPublish
            };

            $.ajax({
                url: '/update_spectr/', 
                method: 'POST',
                data: requestData,
                success: function (response) {
                    location.reload();
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error('Произошла ошибка при выполнении запроса:', textStatus, errorThrown);
                }
            });
        });
    });

</script>






{% endblock %}